{% extends 'base.html' %}
{% load i18n static gestion_tags%}

{% block central_content %}
    {% include "employees/employees-search.html" %}
    <div class="content mt-3">
        {%comment%} PC VERSION {%endcomment%}

        <div class="d-none d-lg-block"> 
            <div class="row toolbar-content py-3 m-0">
                <div class="col-lg-2"><h2 class="pathway b-right">
                    {%trans 'Empleados'%} <span id="items-counter" class="badge badge-secondary">{{items|length}}</span></h2></div>
                <div class="col-lg-4 offset-lg-2 d-flex justify-content-end"> 
                    <a class="btn btn-xs exp mx-1" href="{% url "employees-export" %}" title="{% trans 'Exportar a CSV' %}" target="_blank"><i class="fas fa-file-csv"></i> {% trans "Exportar CSV" %}</a>
                    {% if request.user|in_group:'managers' %}
                        <a class="btn btn-xs exp ark-pdf mx-1" id="btn-full-pdf-pc" data-url="{% url 'managers-report-full-pdf' request.session.s_emp_idate request.session.s_emp_edate %}" 
                            data-filename="employee_report_{{request.user.manager.comp.nif}}.pdf" title="{% trans 'Registro PDF completo' %}">
                            <i class="fas fa-file-pdf"></i>&nbsp;{% trans 'Registro PDF completo' %}
                        </a>
                    {% endif %}
                </div>
                {%comment%}
                <div class="col-lg-2"> <button type="button" class="btn btn-sm new w-100" onclick="$('#div-import').toggle()">
                    <i class="fas fa-file-import"></i> {% trans 'Importar Empleados' %}</button></div>
                {%endcomment%}
                <div class="col-lg-2"> <button type="button" class="btn btn-sm ark new w-100" data-url="{%url "employees-form"%}" 
                    data-target-modal="common-modal"> <i class="fas fa-plus"></i> {% trans 'Nuevo Empleado' %}</button></div>
            </div>
        </div>

        {%comment%} MOBILE VERSION {%endcomment%}
        <div class="d-lg-none"> 
            <div class="toolbar-content p-3 m-0">
                <h2 class="pathway b-right">
                    <i class="fas fa-users orange"></i>
                    <span id="items-counter" class="badge badge-secondary">{{items|length}}</span></h2>
                <a class="btn btn-xs exp" href="{% url "employees-export" %}" title="{% trans 'Exportar a CSV' %}" target="_blank"> 
                    <i class="fas fa-file-csv"></i> {% trans "Exportar" %}</a>
                {% if request.user|in_group:'managers' %}
                <a class="btn btn-xs ark-pdf" data-url="{% url 'managers-report-full-pdf' request.session.s_emp_idate request.session.s_emp_edate %}" 
                    data-filename="employee_report_{{request.user.manager.comp.nif}}.pdf" title="{% trans 'Reporte PDF completo' %}">
                    <i class="fas fa-file-pdf"></i>
                </a>
                {% endif %}
                {%comment%}
                <button type="button" class="btn btn-sm new" onclick="$('#div-import').toggle()"> 
                    <i class="fas fa-file-import"></i> {% trans 'Importar' %}</button> 
                {%endcomment%}
                <button type="button" class="btn btn-sm ark new" data-url="{%url "employees-form"%}" data-target-modal="common-modal"> 
                    <i class="fas fa-plus"></i> {% trans 'Nuevo' %}</button> 
            </div>
        </div>

        {#<div id="div-import" class="hide"> {% include "employees/employees-import.html" %} <br/> </div>#}
        <div id="emp-list" class="ml-list">{% include "employees/employees-list.html" %}</div>
    </div>
    {% include "common-modal.html" %}
{% endblock central_content %}
