<!-- Form for change password. Only ask for new password and confirmation new password. Use class card from bootstrap -->
{% load i18n static gestion_tags %} 
{% comment %} PC VERSION {% endcomment %}
<div class="card" data-bs-theme="dark">
    <div class="card-head bg-dark">
        <div class="row pt-2 pb-2 m-0">
            <div class="col-10 text-white">
                <h4 class="card-title"><i class='fas fa-user orange'></i>&nbsp;{{ _('Cambiar password') }}</h4>
            </div>
            <div class="col-2 text-right">
                <button type="button" class="btn btn-sm text-white" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row pt-2 pb-2 m-0">
            <div class="col-12 text-center">
                <form method="post" action="{% url 'change-password' %}" id="change-password-form" class="post-form" data-target="common-modal-md-body">
                    {% comment %} Include the CSRF token for security {% endcomment %}
                    {% csrf_token %}
                    {% comment %} CSRF token for security {% endcomment %}
                    {% csrf_token %}
                    <div class="form-group w-75 mx-auto p-1">
                        <label for="id_new_password1">{{ _('Nueva constraseña') }}</label>
                        <input type="password" class="form-control" id="id_new_password1" name="new_password1" required>
                    </div>
                    <div class="form-group w-75 mx-auto p-1">
                        <label for="id_new_password2">{{ _('Confirmar nueva contraseña') }}</label>
                        <input type="password" class="form-control" id="id_new_password2" name="new_password2" required>
                    </div>
                    <div class="form-group mt-1 p-1">
                        <button type="submit" class="btn btn-primary">{{ _('Cambiar contraseña') }}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pt-2 pb-2 m-0">
            <div class="col-12 text-center">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    // Check if passwords match
    $('#change-password-form').on('submit', function(event) {
        var password1 = document.getElementById('id_new_password1').value;
        var password2 = document.getElementById('id_new_password2').value;
        if (password1 !== password2) {
            event.preventDefault();
            //Show error message with sweetalert
            Swal.fire({
                icon: 'error',
                title: '{{ _("Error") }}',
                text: '{{ _("Las contraseñas no coinciden") }}',
                confirmButtonText: '{{ _("Aceptar") }}'
            });
        }
        else {
            // Close modal
            $('#common-modal-md').modal('hide');
        }
    });
</script>

                
