{% extends "base_error.html" %}
{% load i18n gestion_tags %}

{% block extra_header %}
            <div id="notify-panel"></div>

	            <div id="main" class="w-100">
                    <div class="row header sticky-top bg-white m-0">
                        <div class="col-lg-1 col-3 text-center">
                            <a href="{% url 'index' %}" ><img src="{{request.user|comp_logo}}" height="50px" /></a>
                        </div>	
                        <div class="col-lg-10 col-8 text-center">
                            {% trans "Hola" %}, {{request.user.username}}
                        </div>
                        <div class="col-lg-1 col-1 d-flex justify-content-end align-items-center p-0">
                             <a class="btn btn-xs ark-post" href="#" data-url="{% url 'auth_logout' %}" data-csrf-token={{ csrf_token }} 
                                 title="{% trans 'Salir' %}"><i class="fas fa-sign-out-alt"></i>
                                 <span class="d-lg-inline d-none">&nbsp;{% trans 'Salir'%} </span>
                             </a>
                        </div>
                        <div class="row m-0">
                            <div class="d-none d-lg-block" tyle="border:1px solid blue">
                                {% if request.user.manager %}
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <p class="w-100 badge bg-danger m-0 p-3 text-white">
                                            Licencia v&aacute;lida hasta {{request.user.manager.comp.expiration_date|date:"d/m/Y"}} 
                                        </p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
{% endblock extra_header %}

{% block central_content %}
<div class="container">
    <div class="row m-0">
        <div class="col-lg-10 offset-lg-1 text-center">
            <p class="lead mt-5 p-5"><i class='fas fa-user-lock'></i><br /><br />La cuenta a la que intenta acceder está desactivada</p>
            <p class="sub-lead p-2">Hemos detectado que la cuenta a la que está intentando acceder está desactivada. Por favor, póngase en contacto con el administrador de la plataforma.</p>
            <a href="{% url 'index' %}" class="btn btn-primary mt-3 w-100 py-3"><strong>VOLVER AL INICIO</strong></a>
        </div>
    </div>
</div>
{% endblock central_content %}
