{% load i18n gestion_tags static %}

<div class="row main-th py-3 m-0">
    <div class="col-lg-4"><i class="fas fa-user orange"></i>&nbsp; {% trans 'Empleado' %}</div>
    <div class="col-lg-2"><i class="fas fa-sign-in-alt"></i>&nbsp; {% trans 'Hora entrada' %}</div>
    <div class="col-lg-2"><i class="fas fa-sign-out-alt"></i>&nbsp; {% trans 'Hora salida' %}</div>
    <div class="col-lg-2 text-center"><i class='far fa-clock'></i>&nbsp; {% trans 'Tiempo' %}</div>
    <div class="col-lg-2"></div>
</div>

<div class="row">
	<div class="col-12">
	{% for item in item_list %}
		<div class="col-12 list-item" id="row_{{ item.id }}">
			{% include "workdays-item.html" %}
		</div>
	{% endfor %}
	</div>
</div>

<script>
    $(document).ready(function() 
        {
            $('.main-svg').css('width', '100%');
            $('.main-svg').hide().show();
            $('#gantt-tab').on('click', function() {
                // Change all data-listmode attributes to false
                $('.main-svg').attr('width', '100%');
                $('.main-svg').css('width', '100%');
                $('[data-listmode]').each(function() {
                    $(this).attr('data-listmode', 'false');
                });
                $('input[name="listmode"]').val('false');
            });

            $('#list-tab').on('click', function() {
                // Change all data-listmode attributes to true
                $('[data-listmode]').each(function() {
                    $(this).attr('data-listmode', 'true');
                });
                $('input[name="listmode"]').val('true');
            });
            {% if current_date %}
            $('#s_idate').val("{{current_date|date:'Y-m-d'}}");
            $('#s_edate').val("{{current_date|date:'Y-m-d'}}");
            $('.day-search').removeClass('btn-warning').addClass('btn-success');
            $('.day-{{current_date|date:'D'}}').addClass('btn-warning').removeClass('btn-success');
            {% else %}
            $('#s_idate').val("{{request.session.s_idate}}");
            $('#s_edate').val("{{request.session.s_edate}}");
            $('.day-search').removeClass('btn-warning').addClass('btn-success');
            $('.day-search').last().addClass('btn-warning').removeClass('btn-success');
            {% endif %}
            {% if listmode %}
            $('#list-tab').tab('show');
            {% else %}
            $('.main-svg').css('width', '100%');
            $('#gantt-tab').tab('show');
            {% endif %}

            if ($('#s_idate').val() !== $('#s_edate').val()) {
                $('.day-search').removeClass('btn-warning').addClass('btn-success');
            }

            const ganttDiv = document.querySelector("#gantt-div .plotly-graph-div");
            if (ganttDiv && Plotly) {
                ganttDiv.on('plotly_click', function (data) {
                    const point = data.points[0];
                    const uuid = point.customdata[0];
                    const button = document.getElementById("button-" + uuid);
                    if (button) button.click();
                });
            }
}
    );

</script>

