{% load i18n gestion_tags %}

<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">


            <li class="nav-item">
                <a class="nav-link {% if not gantt %}active{% endif %}" id="list-tab" data-bs-toggle="tab" href="#list"
                   role="tab" aria-controls="list" aria-selected="{% if not gantt %}true{% else %}false{% endif %}">
                    <i class="fas fa-list">&nbsp;</i> {% trans 'Listado de fichajes' %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if gantt %}active{% endif %}" id="gantt-tab" data-bs-toggle="tab" href="#gantt"
                   role="tab" aria-controls="gantt" aria-selected="{% if gantt %}true{% else %}false{% endif %}">
                    <i class="fas fa-chart-pie">&nbsp;</i> {% trans 'Modo gráfico' %}
                </a>
            </li>
        </ul>

        <div class="tab-content pt-3" id="myTabContent">


            <div class="tab-pane fade {% if gantt %}show active{% endif %}" id="gantt" role="tabpanel" aria-labelledby="gantt-tab">
                {% if gantt %}
                <div class="toolbar-content row">
                    <div class="col-12" id="gantt-div">
                        {% include "gantt.html" %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="tab-pane fade {% if not gantt %}show active{% endif %}" id="list" role="tabpanel" aria-labelledby="list-tab">
                <div class="toolbar-content row">
                    {% for item in item_list %}
                        <div class="col-12 list-item pt-2 pb-2" id="row_{{ item.id }}">
                            {% include "workdays-item.html" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() 
        {
            $('#gantt-tab').on('click', function() {
                // Change all data-listmode attributes to false
                $('[data-listmode]').each(function() {
                    $(this).attr('data-listmode', 'false');
                });
                $('input[name="listmode"]').val('false');
            });

            $('#list-tab').on('click', function() {
                // Change all data-listmode attributes to true
                $('[data-listmode]').each(function() {
                    $(this).attr('data-listmode', 'true');
                });
                $('input[name="listmode"]').val('true');
            });
            {% if current_date %}
            $('#s_idate').val("{{current_date|date:'Y-m-d'}}");
            $('#s_edate').val("{{current_date|date:'Y-m-d'}}");
            $('.day-search').removeClass('btn-warning').addClass('btn-success');
            $('.day-{{current_date|date:'D'}}').addClass('btn-warning').removeClass('btn-success');
            {% else %}
            $('#s_idate').val("{{request.session.s_idate}}");
            $('#s_edate').val("{{request.session.s_edate}}");
            $('.day-search').removeClass('btn-warning').addClass('btn-success');
            $('.day-search').last().addClass('btn-warning').removeClass('btn-success');
            {% endif %}
            {% if listmode %}
            $('#list-tab').tab('show');
            {% else %}
            $('#gantt-tab').tab('show');
            {% endif %}

            if ($('#s_idate').val() !== $('#s_edate').val()) {
                $('.day-search').removeClass('btn-warning').addClass('btn-success');
            }

            const ganttDiv = document.querySelector("#gantt-div .plotly-graph-div");
            if (ganttDiv && Plotly) {
                ganttDiv.on('plotly_click', function (data) {
                    const point = data.points[0];
                    const uuid = point.customdata[0];
                    const button = document.getElementById("button-" + uuid);
                    if (button) button.click();
                });
            }
}
    );
</script>