:root{
	--lighter-gray: #f9f9f9;
	--primary-alpha: #75b198;
	--primary: #f3ae2d;
}
.btn-access {
	background-color: #3b2f1d !important;
	border:1px solid #3b2f1d !important;
	color: #ffffff !important;
}


.btn-primary {
	background-color: #16488b !important;
	border:1px solid #16488b !important;
}

.btn-primary:disabled, .btn-primary:hover{
	background-color: #000 !important;
}

.btn-outline-primary{
	border-color: #000 !important;
}

.btn-outline-primary:hover{
	background-color: #000 !important;
}

body{
	color: #777;
	min-height: 100vh;
	display: flex;
	align-items: stretch;
}

.x-small {
	font-size: 0.725rem !important;
}

.title{
	text-align: left;
	padding-left: 1rem;
	padding-bottom: 10px;
}

h1.apptitle{
	color: #ffffff;
	width: 95%;
	margin-top: 0.5em;
	font-size: 4rem;
	font-weight: 600;
}
h2 {
	color: #ffffff;
	font-size: 3.2rem !important;
}

h3 {
	color: #ffffff;
	font-size: 1.5rem !important;
}

h4 {
	color: #3b2f1d;
	font-size: 1.1rem !important;
}


p {
	font-size: 1.2rem;
	color: #ffffff;
	font-weight: lighter;
}

p strong {
	font-weight: bold;
}
.subtitle{
	display: block;

}


.subtitle a{
	text-align: left;
}



.login-container{
	display: flex;
	align-items: flex-start;
	align-items: stretch;
	width: 100%;
}

.login-left {
	background-size: cover;
	color: #fff;
	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	width: 75%;
	border-right: 1px solid lightgray;
	transition: width 1s ease-out;
	background: #599191;
}

.login-text {
	color: #fff;
	font-size: 1rem;
}

.login-left-bottom {
	color: #ffffff;
	width: 100%;
}
.login-left-bottom a {
	color: #ffffff;
}
.features-container{
	width: 100%;
	height: 100%;
	padding: 0 8%;
	margin: auto;
	color: #545454;
/*	background-color: #fff;*/
}

.login-right {
	background: #e2d7c5;
	display: flex;
	color: #777;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25%;
	transition: width 1s ease-out;
	padding-top:20px;
}
.form-container{
	width: 90%;
	margin: auto;
	margin-top: 1rem;
}
.login-form {
	padding: 2rem 1rem;

}

.login-form * input{
	display: block;
}

.login-form * button{
	display: block;
}

.logo{
	width: 100%;
}

#form-result{
	font-size: small;
}

@media only screen and (max-width: 992px) {
	.login-left{
		width: 50%;
	}
	.login-right{
		width: 50%;
	}

}


@media only screen and (max-width: 768px) {
	.login-left{
		display: none;
	}
	.login-right{
		width: 100%;
	}

}
