/*********** UTILS *************/
.text-white {
    color: #ffffff; 
}

.text-dark {
   color: #000000;
}
.tiny {
    font-size:0.6em; 
    color: #000000;
}
.medium {
    font-size:0.8em;
}
.huge {
    font-size:1.4em;
}
.light-grey{ 
    background: #cccccc;
}
.dark-grey{ 
    background: #999999;
}
.w-100 {
    width:100%;
}
.h-100 {
    height:100%;
}
.p-0 {
    padding:0px;
}


h3 {
    color: #333333;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none !important;
}

h3.code {
    color: #999;
    font-size: 1rem;
    font-weight: 400;
}

input.pin {
    border: 1px solid #ced4da;
    font-size: 1rem;;
}

input#code.form-control.btn.asm.w-50 {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    
}
.lg-font {
   font-size: 1.3rem;
   font-weight: 600;
   letter-spacing: 0px;
}

i.fa.fa-info-circle, 
i.fa.fa-clock-o {
	font-size: 1.8rem;
}

/*********** END UTILS *************/


/*********** BUTTONS *************/

.bg-success { 
    background: #4e9a06 !important;
}
.btn-success { 
    background: #4e9a06;
    border:1px solid #4e9a06;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-light.asm { 
    background: #ffffff;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.btn.btn-danger {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn.btn-secondary.asm {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    color: #e35000;
    border: 1px solid #e35000;
    background: #fdf4ef;
}
.btn.btn-info {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #54afe6;
    background: #54afe6;
}



/*********** END BUTTONS *************/

/*********** HEADER *************/
.header {
    background: #ffffff; 
    color: #ffffff; 
    font-weight: 600;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

img.logo {
    height:50px; 
    width:auto;
}

.status-bar-login { 
    background: #e35000; 
    border-radius: 0px 0px 0px 50px;
    color: #ffffff; 
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}
.status-bar { 
    background: #3b2f1d; 
    border-radius: 0px 0px 10px 10px;
    color: #ffffff;
    font-size: 0.75rem;
    height: 20px;
    line-height: 1.8;
    text-transform: uppercase;
}
.status-bar span { 
    font-size: 0.73rem;
    line-height: 1.3;
}

.cabecera {
    background: #ffffff; 
}
.powericon {
    background: #ffffff;
    border:none;
    font-size: 1.5rem;
}
.detail-bar { 
    border-bottom:1px solid #aaa; 
    color: #ffffff; 
    background: #e1bee7; 
}

#div-header .row {
	align-items: center;
	color: #333;
}

#div-mobil .row {
	align-items: center;
}

#div-access  .small{
	font-size: 0.1rem !important;
}
#div-footer,
#div-footer a {
	color: #333 !important;
	font-size: 0.75rem;
	text-decoration: none;
}

#div-footer span.app-name  {
	color: #333 !important;
	font-weight: 600;
	font-size: 0.85rem;
}

/*********** END HEADER *************/



/*********** CONTENT *************/

body {
    background: #f1f6f9;
}

.container-fluid {
    padding: 0 !important;
}

.content {
    color:#337ab7;
}
.content {
    padding-bottom:50px;
}

.welcome {
    font-size: 0.7rem;
    color: #666666;
}

.employee-name {
    font-size: 0.8rem;
    color: #999;
    text-transform: Capitalize;
}

a.asm {
    text-decoration:none; 
    color: #ffffff; 
}
.column-btns {
    display:inline-block; 
    padding:0px !important;
    text-align:right;
}
.column-btns-01, .column-btns-02, .column-btns-03 {
    display:inline-block; 
    vertical-align: top;
}

.headtb {
    background: #dde5e9;
    color: #6c757d;
    background: #e2d7c5;
    color: #3b2f1d;
}

.head-column {
    color: #3b2f1d;
    font-weight: 600;
}

.mod-text {
	font-weight: 400;
	font-size: 0.8rem;
	color: #666;
}

.itemtb {
    border-top:1px solid #dfdfdf;
	color: #666;
}

.line-register {
	align-items: center;
}
.workdays-list-box {
    border:1px solid #ccc; 
    background-color: white;
    border-radius: 0.25rem;
}

.card.fm {
	border-radius: 0.5rem;
}


/*********** QR *************/

.reader { 
    border: none !important;
    /*width: 400px;**/
    width: 100%;
    /*margin-top: 50px;*/
}

button.html5-qrcode-element {
    font-weight: 600;
    font-size: 1.2rem !important;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #fff !important;
    border: 1px solid #16488b !important;
    color: #16488b !important;
    
    margin-top: 30px !important;
}

span.html5-qrcode-element {
    text-decoration: none !important;
    color: #e35000;
}

p.info {
    background-color: #f8d8b9;
    color: #333;
}
p.name {
    text-align:center;
    text-transform: Capitalize;
    font-weight: 600;
    font-size: 1.5rem;
    color: #54afe6;
}
p.date {
    color: #333 !important;
}

/*********** END QR *************/

.head-fichamaster-logo {
	align-items: center;
	color: #333;
	font-weight:600;
	font-size: 1.1rem;
}



/*********** END CONTENT *************/

/******* FOOTER *************/
.footer {
    position:fixed; 
    background-color:#f5f5f5;
    color:#999999; 
    bottom:0px; 
    height:50px;
    font-size:0.7em;
    align-items: center;
}


/*********** END FOOTER *************/
