Hola {{ manager.name}}, te damos la bienvienida a la plataforma de controls de fichaje de {{manager.comp.name}}.

Tu cuenta ha sido registrada como manager, por lo que podrás gestionar los empleados y sus registros de horaro, visualizando informes y estadísticas, así como configurar los parámetros de los mismos.

El portal para el control de fichajes para tus empleads es accesible en la siguiente URL:

{{ manager.portal_url }}

Quedamos a tu disposición para cualquier consulta o duda que puedas tener.

Un saludo cordial,
el equipo de soporte de Fichamaster