{% extends 'base.html' %}
{% load i18n static %}

{% block central_content %}
    <div class="row toolbar-search p-2 m-0">{% include "admins/admins-search.html" %} </div>
    <div class="content mt-3">
        {%comment%} PC VERSION {%endcomment%}

        <div class="d-none d-lg-block"> 
            <div class="row toolbar-content py-3 m-0">
                <div class="col-lg-2"><h2 class="pathway b-right">
                    {%trans 'Empresas'%} <span id="items-counter" class="badge badge-secondary">{{items|length}}</span></h2></div>
                <div class="col-lg-6 d-flex justify-content-between align-items-center">
                    <a class="btn btn-sm btn-dark btn-filter" href="#" id="btn-show-all">
                        {% trans 'Todos' %}</a>
                    <a class="btn btn-sm btn-light btn-filter" href="#" id="btn-show-unexpired">
                        {% trans 'Activados' %}</a>
                    <a class="btn btn-sm btn-light btn-filter" href="#" id="btn-show-expired">
                        {% trans 'Desactivados' %}</a>

                    <button type="button" class="btn btn-sm ark new" data-url="{%url 'admins-form'%}" data-target-modal="common-modal"> <i class="fas fa-plus"></i> {% trans 'Nueva Empresa' %}</button></div>
            </div>
        </div>
        <div id="adm-list" class="ml-list">{% include "admins/admins-list.html" %}</div>
    </div>
    {% include "common-modal.html" %}

<script>
    $(document).ready(function() {
        $('#btn-show-all').on('click', function(e) {
            e.preventDefault();
            $('.list-item').show();
            $('.btn-filter').removeClass('btn-dark').addClass('btn-light');
            $(this).removeClass('btn-light').addClass('btn-dark');
        });
        $('#btn-show-unexpired').on('click', function(e) {
            e.preventDefault();
            $('.list-item').hide();
            $('.active-True').show();
            $('.btn-filter').removeClass('btn-dark').addClass('btn-light');
            $(this).removeClass('btn-light').addClass('btn-dark');
        });
        $('#btn-show-expired').on('click', function(e) {
            e.preventDefault();
            $('.list-item').hide();
            $('.active-False').show();
            $('.btn-filter').removeClass('btn-dark').addClass('btn-light');
            $(this).removeClass('btn-light').addClass('btn-dark');
        });

    });
</script>
{% endblock central_content %}