{% load i18n gestion_tags static %}

{%comment%} PC VERSION {%endcomment%}

<div class="d-none d-lg-block" id="row-list-admins"> 
    <div class="row main-th py-3 m-0">
        <div class="col-1"> <i class="fas fa-image"></i>&nbsp;{% trans 'Logo' %}</div>
        <div class="col-2"> <i class="fas fa-user-tie"></i>&nbsp;{% trans 'Nombre Empresa' %} </div>
        <div class="col-2"> <i class="fas fa-id-card"></i>&nbsp;{% trans 'NIF Empresa' %} </div>
        <div class="col-1 text-center" title="{% trans 'Empleados' %}"><i class="fas fa-users"></i>&nbsp; {% trans 'Empl' %} </div>
        <div class="col-2"><i class="fas fa-euro-sign"></i>&nbsp; {% trans 'Último pago' %}</div>
        <div class="col-2"><i class="fas fa-calendar"></i>&nbsp; {% trans 'Activo hasta' %}</div>
        <div class="col-2"></div>
    </div>

    {% for item in items %}
        <div class="row list-item pt-2 pb-2 m-0 active-{{item.is_active}}" id="row_{{item.id}}">
        {% include "admins/admins-row.html" %}
        </div>
    {% endfor %}
    <div class="row list-item pt-2 pb-2 m-0 active-True" id="row_New">
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.active-False').addClass('text-danger');

        $('.btn-sweet-alert').on('click', function() {
            // Open SweetAlert2 modal with company private zone url
            var url = $(this).data('url');
            // Add domain to url if needed
            if (!url.startsWith('http')) {
                url = window.location.origin + url;
            }
            
            Swal.fire({
                title: $(this).data('title'),
                html: url,
                icon: 'warning',
                showCancelButton: false,
                confirmButtonText: '{% trans "Cerrar" %}',
            });
        });

        // Load default img if logo image fails to load or image is broken
        $('img.company-logo').on('error', function() {
            $(this).attr('src', '{% static "images/logo-fichaje.png" %}');
            $(this).addClass('default-logo');
            // Change onerror to null
            $(this).on('error', null);
        });

    });
</script>
