{% load static i18n gestion_tags %}

<div class="col-1 d-flex align-items-center">
    {{item.view_logo}}
</div>
<div class="col-2 d-flex align-items-center">{{item.name}}</div>
<div class="col-2 d-flex align-items-center">{{item.nif}}</div>
<div class="col-2 d-flex align-items-center justify-content-center">
    <span class="badge bg-info">{{item.employees.count}}</span>
</div>
<div class="col-2 d-flex align-items-center">{{item.last_payment}} ({{item.last_payment_amount}} &euro;)</div>
<div class="col-2 d-flex align-items-center">{{item.expiration_date}}</div>

<div class="col-1 text-right d-flex align-items-center p-0">
    <a class="btn btn-xs" href="{% url 'pwa-company-login' item.uuid %}" target="_blank">
        <i class="fas fa-sign-in-alt"></i></a>
    <a class="btn btn-xs ark" data-url="{% url "admins-form" %}" data-target-modal="common-modal" data-obj_id="{{item.id}}" >
        <i class="fas fa-edit"></i></a>
    <a class="btn btn-xs ark" data-url="{% url "admins-remove" %}" data-target="adm-list" data-obj_id="{{item.id}}"  data-confirm="{% trans "Are you sure to remove this element?" %}" >
        <i class="fas fa-trash"></i></a>
        
</div>

<script class="toremove">
    var item = $('#row_{{item.id}}');
    if (item.length === 0) {
        $('#row_New').before('<div class="row list-item pt-2 pb-2 m-0 active-False" id="row_{{item.id}}"></div>');
        item = $('#row_{{item.id}}');
        item.html($('#row_New').html());
        $('.toremove').remove();
        $('#row_New').html('');
    }
    item.removeClass('active-True').removeClass('active-False').addClass('active-{{item.is_active}}');
    item.removeClass('text-danger');
    if (item.hasClass('active-False')) {
        item.addClass('text-danger');
    }


</script>

