{% extends 'base.html' %}
{% load i18n static %}

{% block central_content %}
    <div class="row toolbar-search p-2 m-0">{% include "admins/admins-search.html" %} </div>
    <div class="content mt-3">
        {%comment%} PC VERSION {%endcomment%}

        <div class="d-none d-lg-block"> 
            <div class="row toolbar-content py-3 m-0">
                <div class="col-lg-2"><h2 class="pathway b-right">
                    {%trans 'Empresas'%} <span id="items-counter" class="badge badge-secondary">{{items|length}}</span></h2></div>
                <div class="col-lg-2"> <button type="button" class="btn btn-sm ark new w-100" data-url="{%url 'admins-form'%}" 
                    data-target-modal="common-modal"> <i class="fas fa-plus"></i> {% trans 'Nueva Empresa' %}</button></div>
            </div>
        </div>
        <div id="adm-list" class="ml-list">{% include "admins/admins-list.html" %}</div>
    </div>
    {% include "common-modal.html" %}
{% endblock central_content %}