{% load i18n gestion_tags %}

{%comment%} PC VERSION {%endcomment%}

<div class="d-none d-lg-block"> 
    <div class="row main-th py-3 m-0">
        <div class="col-1"> <i class="fas fa-image"></i>&nbsp;{% trans 'Logo' %}</div>
        <div class="col-4"> <i class="fas fa-user-tie"></i>&nbsp;{% trans 'Nombre Empresa' %} </div>
        <div class="col-2"> <i class="fas fa-id-card"></i>&nbsp;{% trans 'NIF Empresa' %} </div>
        <div class="col-1 text-center"><i class="fas fa-users"></i>&nbsp; {% trans 'Empleados' %} </div>
        <div class="col-2"><i class="fas fa-euro-sign"></i>&nbsp; {% trans 'Último pago' %}</div>
        <div class="col-1"><i class="fas fa-calendar"></i>&nbsp; {% trans 'Activo hasta' %}</div>
        <div class="col-1"></div>
    </div>

    {% for item in items %}
        <div class="row list-item pt-2 pb-2 m-0 active-{{item.is_active}}" id="row_{{item.id}}">
            <div class="col-1 d-flex align-items-center">
                {{item.view_logo}}
            </div>
            <div class="col-4 d-flex align-items-center">{{item.name}}</div>
            <div class="col-2 d-flex align-items-center">{{item.nif}}</div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <span class="badge bg-info">{{item.employees.count}}</span>
            </div>
            <div class="col-2 d-flex align-items-center">{{item.last_payment}} ({{item.last_payment_amount}} &euro;)</div>
            <div class="col-1 d-flex align-items-center">{{item.expiration_date}}</div>
    
            <div class="col-1 text-right d-flex align-items-center">
                <a class="btn btn-xs" href="{% url 'pwa-company-login' item.uuid %}" target="_blank">
                    <i class="fas fa-sign-in-alt"></i></a>
                <a class="btn btn-xs ark" data-url="{% url "admins-form" %}" data-target-modal="common-modal" data-obj_id="{{item.id}}" >
                    <i class="fas fa-edit"></i></a>
                <a class="btn btn-xs ark" data-url="{% url "admins-remove" %}" data-target="adm-list" data-obj_id="{{item.id}}"  data-confirm="{% trans "Are you sure to remove this element?" %}" >
                    <i class="fas fa-trash"></i></a>
                    
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        $('.active-False').addClass('text-danger');
    });
</script>
