{% load i18n static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="{% trans "Aplicación para el fichaje"%}">
        <meta name="author" content="{% trans "" %}">

        <link rel="stylesheet" href="{% static "css/login.css"%}" type="text/css"/>

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>

        <title>{% trans "Aplicación para el fichaje"%}</title>
    </head>
    <body>
        <div class="login-container">
            <div class="login-left">
                <div class="features-container">
                    <h4 class="apptitle">{% trans "Aplicación para el fichaje" %}</h4>
		    {% blocktrans %}
		    <p>¡Optimiza la gestión de tu equipo con nuestra innovadora aplicación de fichaje en el trabajo! <br /><br />
			Simplifica el control de asistencia, reduce errores y ahorra tiempo con una solución fácil de usar y totalmente digital.<br /> <br /> 
			Desde el registro de entrada y salida hasta el seguimiento en tiempo real, nuestra app te permite gestionar horarios, calcular horas extras y mantener un historial preciso de asistencia, todo desde tu smartphone o pc.<br /><br />
			Mejora la productividad de tu empresa y garantiza una gestión eficiente del tiempo con nuestra plataforma confiable y segura.<br /> <br />
			¡Descubre cómo transformar la forma en que controlas el tiempo en tu negocio hoy mismo!<p>
                    {% endblocktrans %}

		{% comment %}
			<div class="row text-center">
				<div class="col-lg-8 offset-lg-2 col-12">
					<a href="" class="btn btn-primary btn-block mt-2"> {% trans "Descargar guía" %} </a> <br /> <br />
					<img src="{% static '/images/caratula-guia.jpg'%}" width="100%"/>
				</div>
			</div>
		{% endcomment %}

                </div>
		{% comment %}
                <div><img src="{% static '/images/bg-login.png'%}" width="100%"/></div>
		{% endcomment %}
		<div class="login-left-bottom p-5 text-center x-small"><img src="{% static '/images/logo-fichaje-negative.png'%}" width="50"/><br/><br/>
		Para saber más sobre la normativa a aplicar consulta la <a href="https://www.mites.gob.es/ficheros/ministerio/GuiaRegistroJornada.pdf" target="blank_">guía sobre el registro de jornada</a>.
	       </div>
            </div>
            <div class="login-right">
		    <div class="logo text-center"><a href="https://www.tms.es" target="_blank"><img src="{% static '/images/logo-fichaje.png'%}" width="100"/></a></div>
                {% block login-right %}
                    <div class="form-container toggle-container mt-5" id="login-form">
                        <h4 class="title text-center">{% trans "Inicia Sesión" %}
                        {% include "login_form.html" %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
