{% load i18n gestion_tags %}

{#{% if user.is_authenticated %}#}

{% if user|in_group:"admins" %}

    {%comment%} PC VERSION {%endcomment%}
    <div class="d-none d-lg-block" tyle="border:1px solid blue">
        <div class="row menu m-0">
            <div class="col-3 text-center nav-item {%current 'home'%}"><a class="nav-link" aria-current="page" href="{%url 'index'%}">
                <i class='fas fa-home'></i><span class="px-3">{%trans 'Inicio'%}</span></a></div>
            <div class="col-3 text-center nav-item {%current 'employees'%}">
                <a class="nav-link" aria-current="page" href="{% url 'employees' %}">
                <i class='fa fa-medkit'></i><span class="px-3">{%trans 'Empleados'%}</span></a></div>
            <div class="col-3 text-center nav-item {%current 'managers'%}">
                <a class="nav-link" aria-current="page" href="{%url 'managers'%}">
                <i class='fas fa-users'></i><span class="px-3">{%trans 'Administradores'%}</span></a></div>
            {% if user|in_group:"admins" %}
            <div class="col-3 text-center nav-item {%current 'admins'%}">
                <a class="nav-link" aria-current="page" href="{%url 'admins'%}">
                <i class='fas fa-user-shield'></i><span class="px-3">{%trans 'Empresas'%}</span></a></div>
            {% endif %}
        </div>
    </div>

    {%comment%} MOBILE VERSION {%endcomment%}
    <div class="d-lg-none" tyle="border:1px solid red"> 
        <div class="row menu mv m-0">
            <div class="col-3 text-center nav-item nav-tabs {%current 'home'%} p-1">
                <a class="nav-link" aria-current="page" href="{% url 'index' %}">
                <i class='fas fa-home'></i><br />{%trans 'Inicio'%}</a></div>
        <div class="col-1 sep text-center">|</div>
            <div class="col-4 text-center nav-item nav-tabs {%current 'employees'%} p-1">
                <a class="nav-link" aria-current="page" href="{% url 'employees' %}">
                <i class='fa fa-medkit'></i><br />{%trans 'Empleados'%}</a></div>
        <div class="col-1 sep text-center">|</div>
            <div class="col-3 text-center nav-item nav-tabs {%current 'managers'%} p-1">
                <a class="nav-link" aria-current="page" href="{% url 'managers' %}">
                <i class='fas fa-users'></i><br />{%trans 'Administradores'%}</a></div>
        </div>
    </div>
{% elif user|in_group:"managers" %}
    {%comment%} PC VERSION {%endcomment%}
    <div class="d-none d-lg-block">
        {% if request.user.manager %}
        <div class="row">
            <div class="col-lg-2 offset-lg-10 col-12">
                <p class="license w-100 bg-success m-0 p-3">
		Licencia v&aacute;lida hasta <strong>{{request.user.manager.comp.expiration_date|date:"d/m/Y"}}</strong>
                </p>
            </div>
        </div>
        {% endif %}
        <div class="row menu m-0">
            <div class="col-6 text-center nav-item {%current 'home'%}"><a class="nav-link" aria-current="page" href="{%url 'index'%}">
                <i class='fas fa-home'></i><span class="px-3">{%trans 'Inicio'%}</span></a></div>
            <div class="col-6 text-center nav-item {%current 'employees'%}">
                <a class="nav-link" aria-current="page" href="{% url 'employees' %}">
                <i class='fa fa-medkit'></i><span class="px-3">{%trans 'Empleados'%}</span></a></div>
        </div>
    </div>

    {%comment%} MOBILE VERSION {%endcomment%}
    <div class="d-lg-none"> 
        <div class="row menu mv m-0">
            <div class="col-6 text-center nav-item nav-tabs {%current 'home'%} p-1">
                <a class="nav-link" aria-current="page" href="{% url 'index' %}">
                <i class='fas fa-home'></i><br />{%trans 'Inicio'%}</a></div>
        <div class="col-1 sep text-center">|</div>
            <div class="col-6 text-center nav-item nav-tabs {%current 'employees'%} p-1">
                <a class="nav-link" aria-current="page" href="{% url 'employees' %}">
                <i class='fa fa-medkit'></i><br />{%trans 'Empleados'%}</a></div>
        </div>
    </div>
{% else %}
    <div class="nav-item"> <a class="nav-link {% current '' %}" href="{% url 'auth_login'  %}"> 
        <i class="fas fa-sign-in-alt"></i> {% trans "Log in" %}</a> </div>
{% endif %}

