{% extends "pwa-base-login.html" %}
{% load static i18n pwa_tags %}

{% block content%}
<div style="max-width: 800px; overflow-y: auto;" class="mx-auto">
    <div class="row p-3">
        <div class="col-12 m-1">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title"><strong>{{comp.name}}</strong></h5>
                    <p class="card-text">Accede a tu zona privada con tu PIN</p>
                    <p class="card-text w-50 mx-auto">
                        {{comp.view_logo}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 m-1">
            <form method="POST" action="{% url 'pwa-company-private-zone' %}">
                {% csrf_token %}
                <input type="hidden" name="uuid" value="{{comp.uuid}}">

                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><strong>Acceso a la Zona Privada</strong></h5>
                        <p class="card-text ">
                            <div class="row d-flex justify-content-center align-items-center m-0">
                                <div class="form-group col-lg-5 col-10">
                                    <input type="text" class="form-control input text-center p-5" id="pin" placeholder="Introduce el PIN" name="pin" required>
                                    <div class="invalid-feedback">
                                        Introduce un PIN válido.
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-10 mt-3 p-0">
                                    <input type="submit" class="btn btn-primary py-5 px-4 lg-font" value="Entrar a Zona Privada">
                                </div>
                                <input type="hidden" id="remember" name="remember" value="on">
                            </div>

                        </div>
                        </p>
                    </div>
                </div>
            
            </form>
        </div>
    </div>
</div>

<script>
    const pinInput = document.getElementById('pin');
    // Send if the user presses Enter
    pinInput.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            document.querySelector('form').submit();
        }
    });

</script>

{% endblock %}
