{% extends "pwa-base-login.html" %}
{% load static i18n pwa_tags %}

{% block content%}
<div style="max-width: 800px; overflow-y: auto;" class="mx-auto">
    <div class="row p-3">
        {% if comp.clock_pwa_enabled %}
        <div class="col-12 m-1">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title"><strong>{{comp.name}}</strong></h5>
                    <p class="card-text">Escanea el QR para acceder a la zona privada.</p>
                    <p class="card-text w-50 mx-auto">
                        <img src="{{comp.get_qr_private_zone}}" alt="QR Code" class="img-fluid">
                    </p>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12 m-1">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title"><strong>{{comp.name}}</strong></h5>
                    <p class="card-text">
                        <div class="w-50 mx-auto">
                        {{ comp.view_logo }}
                        </div>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-12 m-1">
            <form method="POST" action="{% url 'pwa-company-login' %}">
                {% csrf_token %}
                <input type="hidden" name="uuid" value="{{comp.uuid}}">

                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><strong>PIN</strong></h5>
                        <p class="card-text">
                            Introduce tu PIN para registrar tu entrada/salida.
                            <br>
                            Si no lo recuerdas, pregunta al responsable de tu centro de trabajo.
                        </p>
                        <p class="card-text ">
                            <div class="row d-flex justify-content-center align-items-center m-0">
                                <div class="form-group col-lg-6 col-10">
                                    <input type="text" class="form-control input text-center p-4" id="pin" placeholder="Introduce el PIN para fichar" name="pin" required>
                                    <div class="invalid-feedback">
                                        Introduce un PIN válido.
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-10 mt-3">
                                    <input type="submit" class="btn btn-primary p-5 lg-font" value="Fichar">
                                </div>
                            </div>

                        </div>
                        </p>
                    </div>
                </div>
            
            </form>
        </div>
    </div>
</div>

<script>
    const pinInput = document.getElementById('pin');
    // Send if the user presses Enter
    pinInput.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            document.querySelector('form').submit();
        }
    });

</script>

{% endblock %}
