{% extends "pwa-base.html" %}
{% load static i18n pwa_tags %}

{% block content%}
    <div class="col-12 p-2 mt-3">
        <div class="text-start my-2">
            <!-- button for open modal dialog -->
            <button type="button" class="btn btn-success as w-100 py-3 mb-2" data-bs-toggle="modal" data-bs-target="#modal-dialog">
                <i class="fa fa-info-circle"></i> {%trans "Mi QR"%}
            </button>

            {% if obj == None %}
                <a class="btn btn-success asm w-100 py-3" href="{%url 'pwa-qr-scan'%}">Entrar con QR</a>
                <br/><br/><br/>
            {% else %}
                <p class="info text-center p-2">{%trans "Ha iniciado su jornada laboral en: "%}</p>
                <p class="name text-center py-5">{{obj.employee.comp.name}}</p>
                <p class="date text-center">
                    <i class="fa fa-clock-o"></i> {%trans "Inicio: "%} {{obj.ini_date|local_time|date:"d-m-Y H:i"}}</span></p>
                {#<p class="date text-center"> {%trans "Observaciones: "%} {{obj.client.observations}}</p>#}
                <a class="btn btn-danger asm w-100 py-3" href="{%url 'pwa-qr-scan-finish'%}">Salir </a>
                <br/><br/><br/>
            {% endif %}

            <div class="row">
                <div class="col-6 text-center">{% trans "Año" %}</div>
                <div class="col-6 text-center">{% trans "Mes" %}</div>
            </div>
            <div class="row mb-4">
                <div class="col-6 text-center">
                    <select class="form-control ark_change" id="year" name="year" 
                        data-url="{% url "pwa-update-year" %}" data-target="workdays-list" data-month="{{current_month}}">
                        {% for year in year_list %}
                            <option value="{{year}}" {%if current_year == year%}selected{%endif%}>{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 text-center">
                    <select class="form-control ark_change" id="month" name="month" 
                        data-url="{% url "pwa-update-month" %}" data-target="workdays-list" data-year="{{current_year}}">
                        {% for month in month_list %}
                            <option value="{{month}}" {%if current_month == month%}selected{%endif%}>{{month}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="workdays-list">{% include "pwa/employees/workdays-list.html" %}</div>
        </div>
    </div>

    <!-- Add modal dialog -->

    <div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-dialog-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-dialog-label">{%trans "Identificación QR"%}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{%trans "Cerrar"%}"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="{{request.user.employee.get_qr_uuid}}" alt="QR Code" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
