{% extends "pwa-base-login.html" %}
{% load static i18n pwa_tags %}

{% block content%}
<div style="max-width: 800px; overflow-y: auto;" class="mx-auto">
    <div class="row p-3">
        <div class="col-12 m-1">
            <div class="card">
                <div class="card-body text-center">

                    <p class="card-text">
                        {% if in_or_out == "IN" %}
                        Se ha registrado tu hora de entrada
                        {% else %}
                        Se ha registrado tu hora de salida
                        {% endif %}
                    </p>
                    <p> Redirigiendo a pantalla de fichaje... </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function() {
        window.location.href = "{% url 'pwa-mockup' %}";
    }, 3000);
</script>
{% endblock %}