{% extends "pwa-base.html" %}
{% load static i18n pwa_tags %}

{% block content%}
<div style="max-width: 800px; overflow-y: auto;" class="mx-auto">
    <div class="row p-3">
        <div class="col-12 m-1">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Mockup</h5>
                    <p class="card-text">Escanea el QR para acceder a los registros.</p>
                    <p class="card-text">
                        <img src="{% static 'images/qrlogged.png' %}" alt="QR Code" class="img-fluid">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 m-1">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Mockup PIN</h5>
                    <p class="card-text">Introduce el PIN para fichar.</p>
                    <p class="card-text">
                        <div class="form-group w-50 mx-auto">
                            <label for="pin">PIN</label>
                            <input type="text" class="form-control input" id="pin" placeholder="Introduce el PIN">
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const pinInput = document.getElementById('pin');
    pinInput.addEventListener('input', function() {
        const pin = pinInput.value;
        if (pin.length === 4) {
            window.location.href = "{% url 'pwa-mockup-pin-code' %}";
        }
    });
</script>

{% endblock %}