{% extends "pwa-base.html" %}
{% load static i18n pwa_tags %}

{% block content%}
<div style="max-width: 800px; overflow-y: auto;" class="mx-auto">
    <div class="row p-3">
        <div class="col-12 m-1">
            <div class="card">
                <div class="card-body text-center">

                    <p class="card-text">
                        <a class="btn btn-primary p-5" href="{% url 'pwa-mockup-logged' %}">Fichar</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 m-1">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Mis Regsitros</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.date|date:'Y-m-d H:i' }}</td>
                                <td>{{ item.type }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}