{% load i18n gestion_tags %}

<h3 class="text-center">{% trans "Registro de fichajes" %}</h3>
<div class="d-lg-none"> 
    <div class="row mt-2">
        <div class="col-4 text-center"> <small>{% trans 'Fecha' %}</small> </div>
        <div class="col-2 text-center"> <small>{% trans 'Entrada' %}</small> </div>
        <div class="col-2 text-center"> <small>{% trans 'Salida' %}</small> </div>
        <div class="col-4 text-center"> <small>{% trans 'Tiempo' %}</small> </div>

    </div>
</div>
    {% for item in item_list %}
        <div class="row pt-2 pb-2 m-0" id="row_{{item.id}}">
            <div class="col-4 text-center"><span class="badge_ bg-success-outline_">{{item.ini_date|local_time|date:"Y-m-d"}}</span></div>
            <div class="col-2 text-center"><span class="badge_ bg-success-outline_">{{item.ini_date|local_time|date:"H:i"}}</span></div>
            <div class="col-2 text-center"><span class="badge_ bg-danger-outline_">{{item.end_date|local_time|date:"H:i"}}<small>{{item.extraday}}</small></span></div>
            <div class="col-4 text-center"><span class="badge_ bg-primary-outline_">{{item.duration|toDuration}}</span></div>
        </div>
    {% endfor %}
</div>


